<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xb.posservice.dao.SALE_THIRDPAYMapper">
  <resultMap id="BaseResultMap" type="xb.posservice.dao.vo.SALE_THIRDPAY">
    <id column="SKTNO" jdbcType="VARCHAR" property="sktno" />
    <id column="JLBH" jdbcType="DECIMAL" property="jlbh" />
    <id column="INX" jdbcType="DECIMAL" property="inx" />
    <result column="JYLX" jdbcType="DECIMAL" property="jylx" />
    <result column="CHANNEL" jdbcType="DECIMAL" property="channel" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="TRADENO" jdbcType="VARCHAR" property="tradeno" />
    <result column="OUTTRADENO" jdbcType="VARCHAR" property="outtradeno" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="COUPONFEE" jdbcType="DECIMAL" property="couponfee" />
    <result column="SKFSID" jdbcType="DECIMAL" property="skfsid" />
  </resultMap>
  <sql id="Base_Column_List">
    SKTNO, JLBH, INX, JYLX, CHANNEL, ACCOUNT, TRADENO, OUTTRADENO, AMOUNT, COUPONFEE, 
    SKFSID
  </sql>
  <select id="selectByPrimaryKey" parameterType="xb.posservice.dao.vo.SALE_THIRDPAYKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SALE_THIRDPAY
    where SKTNO = #{sktno,jdbcType=VARCHAR}
      and JLBH = #{jlbh,jdbcType=DECIMAL}
      and INX = #{inx,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="xb.posservice.dao.vo.SALE_THIRDPAYKey">
    delete from SALE_THIRDPAY
    where SKTNO = #{sktno,jdbcType=VARCHAR}
      and JLBH = #{jlbh,jdbcType=DECIMAL}
      and INX = #{inx,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="xb.posservice.dao.vo.SALE_THIRDPAY">
    insert into SALE_THIRDPAY (SKTNO, JLBH, INX, 
      JYLX, CHANNEL, ACCOUNT, 
      TRADENO, OUTTRADENO, AMOUNT, 
      COUPONFEE, SKFSID)
    values (#{sktno,jdbcType=VARCHAR}, #{jlbh,jdbcType=DECIMAL}, #{inx,jdbcType=DECIMAL}, 
      #{jylx,jdbcType=DECIMAL}, #{channel,jdbcType=DECIMAL}, #{account,jdbcType=VARCHAR}, 
      #{tradeno,jdbcType=VARCHAR}, #{outtradeno,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{couponfee,jdbcType=DECIMAL}, #{skfsid,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="xb.posservice.dao.vo.SALE_THIRDPAY">
    insert into SALE_THIRDPAY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sktno != null">
        SKTNO,
      </if>
      <if test="jlbh != null">
        JLBH,
      </if>
      <if test="inx != null">
        INX,
      </if>
      <if test="jylx != null">
        JYLX,
      </if>
      <if test="channel != null">
        CHANNEL,
      </if>
      <if test="account != null">
        ACCOUNT,
      </if>
      <if test="tradeno != null">
        TRADENO,
      </if>
      <if test="outtradeno != null">
        OUTTRADENO,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="couponfee != null">
        COUPONFEE,
      </if>
      <if test="skfsid != null">
        SKFSID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sktno != null">
        #{sktno,jdbcType=VARCHAR},
      </if>
      <if test="jlbh != null">
        #{jlbh,jdbcType=DECIMAL},
      </if>
      <if test="inx != null">
        #{inx,jdbcType=DECIMAL},
      </if>
      <if test="jylx != null">
        #{jylx,jdbcType=DECIMAL},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=DECIMAL},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="tradeno != null">
        #{tradeno,jdbcType=VARCHAR},
      </if>
      <if test="outtradeno != null">
        #{outtradeno,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="couponfee != null">
        #{couponfee,jdbcType=DECIMAL},
      </if>
      <if test="skfsid != null">
        #{skfsid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xb.posservice.dao.vo.SALE_THIRDPAY">
    update SALE_THIRDPAY
    <set>
      <if test="jylx != null">
        JYLX = #{jylx,jdbcType=DECIMAL},
      </if>
      <if test="channel != null">
        CHANNEL = #{channel,jdbcType=DECIMAL},
      </if>
      <if test="account != null">
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
      <if test="tradeno != null">
        TRADENO = #{tradeno,jdbcType=VARCHAR},
      </if>
      <if test="outtradeno != null">
        OUTTRADENO = #{outtradeno,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="couponfee != null">
        COUPONFEE = #{couponfee,jdbcType=DECIMAL},
      </if>
      <if test="skfsid != null">
        SKFSID = #{skfsid,jdbcType=DECIMAL},
      </if>
    </set>
    where SKTNO = #{sktno,jdbcType=VARCHAR}
      and JLBH = #{jlbh,jdbcType=DECIMAL}
      and INX = #{inx,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="xb.posservice.dao.vo.SALE_THIRDPAY">
    update SALE_THIRDPAY
    set JYLX = #{jylx,jdbcType=DECIMAL},
      CHANNEL = #{channel,jdbcType=DECIMAL},
      ACCOUNT = #{account,jdbcType=VARCHAR},
      TRADENO = #{tradeno,jdbcType=VARCHAR},
      OUTTRADENO = #{outtradeno,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      COUPONFEE = #{couponfee,jdbcType=DECIMAL},
      SKFSID = #{skfsid,jdbcType=DECIMAL}
    where SKTNO = #{sktno,jdbcType=VARCHAR}
      and JLBH = #{jlbh,jdbcType=DECIMAL}
      and INX = #{inx,jdbcType=DECIMAL}
  </update>
  
</mapper>